<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{COMPANY-NAME} - Sipariş Formu</title>
    <link href="{PATH}\css\main.css" type="text/css" rel="stylesheet" />
    <link href="css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <img class="logo" src="{PATH}\img\celik.png" />
            <div class="company-tag">
                <span>{COMPANY-NAME}</span>
                <span>Vergi No: {TAXID}, Vergi Dairesi: {TAXPLACE}</span>
                <span>Adres: {ADDRESS} {DISTRICT}/{PROVINCE}</span>
                <span>Tel: {TELEPHONE}</span>
                <span>Email: {EMAIL}</span>
            </div>
        </div>
        <div class="main">
            <div class="author">
                <div class="header">Firma Yetkilisi</div>
                <span>{AUTHOR-NAME}</span>
                <span>Pozisyon: {AUTHOR-POSITION}</span>
                <span>Gsm: {AUTHOR-GSM}</span>
                <span>Email: {AUTHOR-EMAIL}</span>
            </div>
            <div class="attn">
                <div class="header">İlgilinin Dikkatine</div>
                <span>Sayın <b>{ATTN-NAME}</b> dikkatine;</span>
                <span>{ATTN-NOTE}</span>
                <span>Saygılarımızla</span>
            </div>
            <div class="author form-details">
                <div class="header">Form Detayı</div>
                <span>Form No: {ORDER-ID}</span>
                <span>Tür: Sipariş Talep Formu</span>
                <span>Geçerlilik Süresi: -</span>
            </div>
            <div class="products">
                <div class="column-names">
                    <div class="img-col">Ürün Resmi</div>
                    <div class="code-col">Ürün Kodu</div>
                    <div class="name-col">Ürün İsmi</div>
                    <div class="quantity-col">İstenilen Adet</div>
                    <div class="desc-col">Açıklama</div>
                </div>
                <table>
                    <tbody>
                        <!--<tr class="item">
                            <td class="pro-img"><img src="{BASEPATH}/Images/kttd2vwops5.png" /></td>
                            <td class="pro-code">LA321219900</td>
                            <td class="pro-name">AgroParts - Hız Sensörü</td>
                            <td class="pro-quantity">25 Adet</td>
                            <td class="pro-desc">Gerekli açıklama buraya gelecek</td>
                        </tr>
                        <tr class="item gray">
                            <td class="pro-img"><img src="{BASEPATH}/Images/kttd2vwops5.png" /></td>
                            <td class="pro-code">LA321219900</td>
                            <td class="pro-name">AgroParts - Hız Sensörü</td>
                            <td class="pro-quantity">25 Adet</td>
                            <td class="pro-desc">Gerekli açıklama buraya gelecek</td>
                        </tr>
                        <tr class="item">
                            <td class="pro-img"><img src="{BASEPATH}/Images/kttd2vwops5.png" /></td>
                            <td class="pro-code">LA321219900</td>
                            <td class="pro-name">AgroParts - Hız Sensörü</td>
                            <td class="pro-quantity">25 Adet</td>
                            <td class="pro-desc">
                                Gerekli açıklama buraya gelecek
                                Gerekli açıklama buraya gelecek
                            </td>
                        </tr>-->
                        {DATA}
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div class="bank">
            <div class="header">Banka Hesap Bilgilerimiz</div>
            <div class="content">
                <span>AKBANK - Malkara Şubesi - Şube Kodu: 683 - Hesap No: 234325346 - IBAN: TR000000000000000000000000</span>
                <span>GARANTİ - Malkara Şubesi - Şube Kodu: 683 - Hesap No: 234325346 - IBAN: TR000000000000000000000000</span>
                <span>VAKIFBANK - Malkara Şubesi - Şube Kodu: 683 - Hesap No: 234325346 - IBAN: TR000000000000000000000000</span>
            </div>
        </div>-->
        <div class="footer">
            <img class="logo" src="{PATH}\img/logo.png" alt="Daflan Bilişim" />
            <span class="desc">Bu form Daflan - Mikro Kaynak Yönetim Version: 0.0.5.0 kullanılarak üretilmiştir.</span>
            <a class="link" href="http://www.daflan.com">www.daflan.com</a>
            <span class="copyright">Copyright © Daflan Bilişim 2016</span>
        </div>
    </div>
</body>
</html>